/* BASIC */
.txt-left	{text-align:left}
.txt-right	{text-align:right}
.txt-center	{text-align:center}
.txt-justify{text-align:justify}
.txt-bold	{font-weight:bold}
.txt-italic  {font-style:italic}
.block            {display:block}
.inline          {display:inline-block}
.no-uline      {text-decoration:none}
.overline      {text-decoration:overline}
.underline	{text-decoration:underline}
.upper		{text-transform:uppercase}
.lower		{text-transform:lowercase}
.capitalize	{text-transform:capitalize}
.capital:first-letter{text-transform:capitalize}

/* FONTS-SIZES */
.large		{font-size:60px; line-height:60px}
.large-x	{font-size:72px; line-height:72px}
.large-x2	{font-size:96px; line-height:96px}
.large-x3	{font-size:144px; line-height:144px}
.medium		{font-size:18px; line-height:18px}
.medium-x	{font-size:24px; line-height:24px}
.medium-x2	{font-size:36px; line-height:36px}
.medium-x3	{font-size:48px; line-height:48px}
.normal		{font-size:13px; line-height:18px}
.small		{font-size:12px; line-height:12px}
.small-x	{font-size:11px; line-height:10px}
.small-x2	{font-size:10px; line-height:9px}
.small-x3	{font-size:9px; line-height:8px}
.font-reset {font-weight:normal!important}

/* CURSORS */
.cur-auto			{cursor:auto}
.cur-default		{cursor:default}
.cur-none			{cursor:none}
.cur-context-menu	{cursor:context-menu}
.cur-help			{cursor:help}
.cur-pointer		{cursor:pointer}
.cur-progress		{cursor:progress}
.cur-wait			{cursor:wait}
.cur-cell			{cursor:cell}
.cur-crosshair		{cursor:crosshair}
.cur-text			{cursor:text}
.cur-vertical-text	{cursor:vertical-text}
.cur-alias			{cursor:alias}
.cur-copy			{cursor:copy}
.cur-move			{cursor:move}
.cur-no-drop		{cursor:no-drop}
.cur-not-allowed	{cursor:not-allowed}
.cur-all-scroll		{cursor:all-scroll}
.cur-col-resize		{cursor:col-resize}
.cur-row-resize		{cursor:row-resize}
.cur-n-resize		{cursor:n-resize}
.cur-e-resize		{cursor:e-resize}
.cur-s-resize		{cursor:s-resize}
.cur-w-resize		{cursor:w-resize}
.cur-ns-resize		{cursor:ns-resize}
.cur-ew-resize		{cursor:ew-resize}
.cur-ne-resize		{cursor:ne-resize}
.cur-nw-resize		{cursor:nw-resize}
.cur-se-resize		{cursor:se-resize}
.cur-sw-resize		{cursor:sw-resize}
.cur-nesw-resize	{cursor:nesw-resize}
.cur-nwse-resize	{cursor:nwse-resize}
/*.cur-custom		{url(url(smiley.gif),url(myBall.cur),auto)}*/

/* HEADINGS *\/
h1,h2,h3,h4,h5,h6{line-height:1em;margin-bottom:5px}
h1{font-size:1.6em;font-weight:400}
h2{font-size:1.5em}
h3{font-size:1.4em}
h4{font-size:1.3em}
h5{font-size:1.2em}
h6{font-size:1.1em;margin-bottom:10px}*/

/* CODE */
code{
width:100%;
float:left;
color:#333;
height:auto;
padding:10px;
font-size:.8em;
background:#edc;
margin:5px 0 15px;
border:1px solid #dcb;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
/*optional*/
white-space:pre-wrap;		/* css-3 */
word-wrap:break-word;		/* Internet Explorer 5.5+ */
white-space:-pre-wrap;		/* Opera 4-6 */
white-space:-o-pre-wrap;	/* Opera 7 */
white-space:-moz-pre-wrap;	/* Mozilla, since 1999 */
font-family:monospace, serif;_font-family:'courier new', monospace;
}

/* BORDERS */
.bdr		{border:1px solid}
.bdr-d		{border:1px dashed}
.bdr-0		{border:none}
.bdr-t		{border-top:1px solid}
.bdr-r		{border-right:1px solid}
.bdr-b		{border-bottom:1px solid}
.bdr-l		{border-left:1px solid}
.bdr-t-d	{border-top:1px dashed}
.bdr-r-d	{border-right:1px dashed}
.bdr-b-d	{border-bottom:1px dashed}
.bdr-l-d	{border-left:1px dashed}

/* NO BORDERS */
.bdr-0-t	{border-top:none!important}
.bdr-0-r	{border-right:none!important}
.bdr-0-b	{border-bottom:none!important}
.bdr-0-l	{border-left:none!important}

/* RADIUS */
.bdr-rad-0	{border-radius:0px!important}
.bdr-rad-2	{border-radius:2px}
.bdr-rad-4	{border-radius:4px}
.bdr-rad-6	{border-radius:6px}
.bdr-rad-8	{border-radius:8px}
.bdr-rad-10	{border-radius:10px}
.bdr-rad-12	{border-radius:12px}
.bdr-rad-h	{border-radius:50%}
.bdr-rad-f	{border-radius:100%}

/* MARGINS */
.mar		{margin:1px}
.mar-2	{margin:2px}
.mar-4	{margin:4px}
.mar-6	{margin:6px}
.mar-8	{margin:8px}
.mar-10	{margin:10px}
.mar-15	{margin:15px}

.mar-t-2	{margin-top:2px}
.mar-t-4	{margin-top:4px}
.mar-t-6	{margin-top:6px}
.mar-t-8	{margin-top:8px}
.mar-t-10	{margin-top:10px}
.mar-t-15	{margin-top:15px}

.mar-r-2	{margin-right:2px}
.mar-r-4	{margin-right:4px}
.mar-r-6	{margin-right:6px}
.mar-r-8	{margin-right:8px}
.mar-r-10	{margin-right:10px}
.mar-r-15	{margin-right:15px}

.mar-b-2	{margin-bottom:2px}
.mar-b-4	{margin-bottom:4px}
.mar-b-6	{margin-bottom:6px}
.mar-b-8	{margin-bottom:8px}
.mar-b-10	{margin-bottom:10px}
.mar-b-15	{margin-bottom:15px}

.mar-l-2	{margin-left:2px}
.mar-l-4	{margin-left:4px}
.mar-l-6	{margin-left:6px}
.mar-l-8	{margin-left:8px}
.mar-l-10	{margin-left:10px}
.mar-l-15	{margin-left:15px}

/* NO-MARGINS */
.mar-0		{margin:0!important}
.mar-t-0	{margin-top:0!important}
.mar-r-0	{margin-right:0!important}
.mar-b-0	{margin-bottom:0!important}
.mar-l-0	{margin-left:0!important}

/* PADDINGS */
.pad		{padding:1px}
.pad-2	{padding:2px}
.pad-4	{padding:4px}
.pad-6	{padding:6px}
.pad-8	{padding:8px}
.pad-10	{padding:10px}
.pad-15	{padding:15px}

.pad-t-2	{padding-top:2px}
.pad-t-4	{padding-top:4px}
.pad-t-6	{padding-top:6px}
.pad-t-8	{padding-top:8px}
.pad-t-10	{padding-top:10px}
.pad-t-15	{padding-top:15px}

.pad-r-2	{padding-right:2px}
.pad-r-4	{padding-right:4px}
.pad-r-6	{padding-right:6px}
.pad-r-8	{padding-right:8px}
.pad-r-10	{padding-right:10px}
.pad-r-15	{padding-right:15px}

.pad-b-2	{padding-bottom:2px}
.pad-b-4	{padding-bottom:4px}
.pad-b-6	{padding-bottom:6px}
.pad-b-8	{padding-bottom:8px}
.pad-b-10	{padding-bottom:10px}
.pad-b-15	{padding-bottom:15px}

.pad-l-2	{padding-left:2px}
.pad-l-4	{padding-left:4px}
.pad-l-6	{padding-left:6px}
.pad-l-8	{padding-left:8px}
.pad-l-10	{padding-left:10px}
.pad-l-15	{padding-left:15px}

/* NO-PADDINGS */
.pad-0		{padding:0!important}
.pad-0-t	{padding-top:0!important}
.pad-0-r	{padding-right:0!important}
.pad-0-b	{padding-bottom:0!important}
.pad-0-l	{padding-left:0!important}